Source: rtems
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.7.3
Homepage: http://www.rtems.com

Package: rtems
Architecture: any
Depends: gcc-powerpc-rtems4.9, ${shlibs:Depends}, ${misc:Depends}
Description: Base RTEMS support
 Some base RTEMS binaries and documentation

Package: rtems-powerpc
Architecture: any
Depends: rtems, ${shlibs:Depends}, ${misc:Depends}
Description: Base RTEMS PowerPC support
 PowerPC specific RTEMS files which are not related to
 a specific BSP.

Package: rtems-mvme2100
Architecture: any
Depends: rtems-powerpc, ${shlibs:Depends}, ${misc:Depends}
Description: Base RTEMS MVME2100 support
 RTEMS support for the mvme2100 PowerPC board

Package: rtems-mvme3100
Architecture: any
Depends: rtems-powerpc, ${shlibs:Depends}, ${misc:Depends}
Description: Base RTEMS MVME3100 support
 RTEMS support for the mvme3100 PowerPC board

Package: rtems-mvme5500
Architecture: any
Depends: rtems-powerpc, ${shlibs:Depends}, ${misc:Depends}
Description: Base RTEMS MVME5500 support
 RTEMS support for the mvme5500 PowerPC board
