#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
BMAKEFLAGS += -j$(NUMJOBS)
endif

RTEMS_VER ?=4.10

powerpc_BSPS=mvme2100 mvme2307 mvme3100 mvme5500 beatnik
i386_BSPS=pc386

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_TARGET_GNU_TYPE ?= $(1)-rtems$(RTEMS_VER)
CONFIG= --target=$(call DEB_TARGET_GNU_TYPE,$(1)) --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE) \
 --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
--enable-cxx --enable-rdbg --enable-rtemsbsp="$($(1)_BSPS)"

#Do not touch CFLAGS use CFLAGS_FOR_HOST or CFLAGS_FOR_TARGET

build-powerpc/config.status: configure
	dh_testdir

	cp -f /usr/share/misc/config.sub config.sub
	cp -f /usr/share/misc/config.guess config.guess

	install -d build-powerpc
	install -d build-i386
	cd build-powerpc && ../configure $(call CONFIG,powerpc)
	cd build-i386 && ../configure $(call CONFIG,i386)


#Architecture
build: build-pre build-target build-post

build-pre:
	dh build --before dh_auto_configure

build-target: build-target-powerpc build-target-i386

build-target-%: build-%/config.status
	dh_testdir

	# Note: CFLAGS et all must be explicitly unset to avoid
	#       clobbering the target CFLAGS
	env -u CFLAGS -u CXXFLAGS $(MAKE) $(BMAKEFLAGS) -C build-$*
	touch $@

build-post:
	dh build --after dh_auto_test

clean: 
	rm -f build-target-* install-stamp

	rm -rf build-powerpc build-i386
	rm -f config.sub config.guess

	dh clean

install: build install-stamp
install-stamp:
	dh install --before dh_auto_install

	# Write some info helpful to dependent packages
	install -d $(CURDIR)/debian/rtems-common/usr/share/rtems-common
	echo "$(RTEMS_VER)" > $(CURDIR)/debian/rtems-common/usr/share/rtems-common/series
	echo "i386 powerpc" > $(CURDIR)/debian/rtems-common/usr/share/rtems-common/archs

	install -d $(CURDIR)/debian/rtems-i386/usr/share/rtems-i386
	echo "$(i386_BSPS)" > $(CURDIR)/debian/rtems-i386/usr/share/rtems-i386/bsps

	install -d $(CURDIR)/debian/rtems-powerpc/usr/share/rtems-powerpc
	echo "$(powerpc_BSPS)" > $(CURDIR)/debian/rtems-powerpc/usr/share/rtems-powerpc/bsps

	# powerpc
	env -u CFLAGS -u CXXFLAGS $(MAKE) $(BMAKEFLAGS) -C build-powerpc DESTDIR=$(CURDIR)/debian/tmp install

	# i386
	env -u CFLAGS -u CXXFLAGS $(MAKE) $(BMAKEFLAGS) -C build-i386 DESTDIR=$(CURDIR)/debian/tmp install

	mv debian/tmp/usr/bin/bin2boot debian/tmp/usr/bin/i386-rtems$(RTEMS_VER)-bin2boot

	rm -rf $(CURDIR)/debian/tmp/usr/share/man

	dh install --after dh_auto_install
	touch $@

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch 
